
.imgq{
    height: 400px;
    object-fit:cover
}

.cardgrid{
    width: 13rem;
}


.cimg{
    height: 380px;
}

.gridcard{
    width: fit-content;
    min-width: 180px;
    max-width: 200px;
}

.gridcard:hover{
    box-shadow: 1px 8px 20px grey;
    transition:  box-shadow .1s ease-in; 
}


.productanchorgrid{
    text-decoration: none;
    display: none;
    color: red;
    background-color: orange;
}

@media (max-width:600px) {
    .cimg{
        height: 200px;
    }

    .imgq{
        height: 10%;
        object-fit:cover
    }
}

@media (min-width:318px){
    .cardgrid{
        width: 11rem;
    }

    .gridcard{
        width: 100px;
        max-width: 200px;
    }
}



.slidertitle {
    display: -webkit-box;
    max-width: 318px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.gridcardtitle{
    display: -webkit-box;
    max-width: 318px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
